* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Noto Sans", sans-serif;
  height: 78px;
  padding: 0 5%;
  background: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 10px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 10px rgba(0, 0, 0, 0.25);
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #ffffff;
}
nav .logo strong {
  font-weight: 800;
}
div .ln {
  height: 80%;
  flex-basis: 1px;
  background-color: lightgray;
}

nav .links {
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
nav .links li {
  list-style: none;
}

nav .links a {
  display: flex;
  padding: 1em;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}
.links .image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links .image-container span {
  margin: 0 0 0 20%;
  color: #fff;
  font-size: 18px;
}

.links .image-container i {
  margin: 0 0 0 20%;
  color: #fff;
  font-size: 16px;
}
#nav-toggle {
  position: absolute;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 3px;
  background-color: #f7f7f7;
  margin: 5px;
  border-radius: 3px;
}
#nav-toggle {
  display: none;
}

/* .card {
  border: 1px solid #212121;
  max-width: 100%;
  height: auto;
}
.card-header {
  background-color: #212121;
  color: #f7f7f7;
  font-weight: 400;
  font-size: 20px;
}
.card-body {
  background-color: #e4e4e4;
  margin: 1%;
  padding: 1%;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
}
.card-title {
  border: 1px solid #212121;
} */

@media (max-width: 992px) {
  nav .logo {
    width: auto;
    float: none;
    justify-content: center;
  }
  nav .links .image-container img {
    display: none;
  }
  nav .links .image-container i {
    display: block;
  }
  nav .links .ln {
    display: none;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 76px;
    bottom: 100%;
    height: auto;
    width: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
  }
  nav .links li a {
    font-size: 22px;
  }
  #nav-toggle:checked ~ .links {
    opacity: 1;
    bottom: 0;
    transition: all 0.5s ease-in-out;
  }
  #nav-toggle:not(:checked) ~ .links {
    opacity: 0;
    bottom: 100%;
    transition: all 0.5s ease-in-out;
  }
  nav .icon-burger {
    display: block;
  }
}

@media (max-width: 1521px) {
  nav .links a {
    font-size: 16px;
  }
}
